.detail {
  padding: 120px 30px 20px 30px;
}

.backButtonDiv {
  padding: 15px 5px;
}

.backButton {
  width: 8%;
  border: 1px solid;
  border-radius: 15px;
  margin: 0px 5px;
  padding: 7px;
  background-color: gainsboro;
  font-size: 17px;
  font-weight: 500;
  outline: none;
}

.bookDetails {
  display: flex;
  padding: 15px 5px;
}

.bookImage {
  width: 45%;
  margin-right: 50px;
}

.bookContent {
  width: 50%;
  padding: 10px 0px;
}

.bookDetailedTitle {
  padding: 20px 0px;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}

.bookDetailedDescription {
  height: 60%;
  padding: 20px 0px;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.bookButtons {
  display: flex;
}

.shareBook,
.favBook,
.buyBook {
  padding: 0px 10px;
}

.bookPrice {
  width: 70%;
  padding-right: 20px;
  text-align: right;
}
