@media screen and (min-width: 1024px) {
  .bookEl {
    width: 35%;
    border: 2px solid rgb(29, 38, 46);
    border-radius: 5px;
    padding: 10px;
    margin: 20px 64px;
  }

  .favBook {
    margin: 0px 5px;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .favBook.inFavorite {
    color: rgb(170, 131, 25);
  }

  .shareBook {
    margin: 0px 5px;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .buyBook {
    margin: 0px 5px;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .buyBook.inCart {
    color: rgb(170, 25, 25);
  }
}

@media screen and (min-width: 1440px) {
  .bookEl {
    width: 22%;
    margin: 20px 52px;
  }
}

@media screen and (min-width: 2560px) {
  .bookEl {
    width: 16%;
    margin: 20px 94px;
  }
}

.bookTitle {
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.bookImg {
  padding-top: 5px;
  width: 100%;
  height: 150px;
}

.bookDescription {
  margin-top: 10px;
  text-align: left;
  font-size: 16px;
  padding-left: 20px;
}

.bookValue {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.bookActivities {
  display: flex;
  padding: 10px 0px;
  justify-content: space-around;
  align-items: center;
}
