.books {
  width: 100%;
  min-height: 100%;
  padding-top: 120px;
}

.moreBooksButton {
  padding: 15px 105px 15px 15px;
  text-align: center;
}

.searchBox {
  display: flex;
  justify-content: space-between;
  padding: 10px 135px;
}

.favoriteToggleButton {
  border: none;
  background-color: transparent;
  outline: none;
}

.searchField {
  width: 20%;
  border: none;
  border-bottom: 1px black solid;
  padding-left: 7px;
  font-size: 18px;
  outline: none;
}

@media screen and (min-width: 1024px) {
  .booksList {
    display: flex;
    flex-wrap: wrap;
    min-width: 1024px;
    padding: 0px 123px;
  }
}

@media screen and (min-width: 1440px) {
  .booksList {
    display: flex;
    flex-wrap: wrap;
    min-width: 1024px;
    padding: 0px 150px;
  }
}

@media screen and (min-width: 2560px) {
  .booksList {
    display: flex;
    flex-wrap: wrap;
    min-width: 1024px;
    padding: 0px 100px;
  }
}
