@media screen and (min-width: 1024px) {
  .cartItem {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
  }

  .cartItemRemove {
    width: 100%;
    border: solid 2px rgb(97, 96, 96);
    border-radius: 20px;
    background-color: lightgray;
    text-align: center;
    outline: none;
  }
}

@media screen and (min-width: 1440px) {
  .cartItem {
    padding: 0px 150px;
    padding-top: 40px;
  }
}

@media screen and (min-width: 2560px) {
  .cartItem {
    padding: 0px 450px;
    padding-top: 40px;
  }
}

.cartItemImage {
  width: 35%;
  height: 150px;
  border: solid 2px slategray;
  border-radius: 20px;
}

.cartItemText {
  width: 50%;
  padding: 10px 20px 0px 20px;
}

.cartItemTitle {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

.cartItemDescription {
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
  color: rgb(73, 73, 73);
}

.cartItemPrice {
  width: 10%;
  padding-top: 10px;
}

.cartItemValue {
  font-size: 22px;
  font-weight: 700;
  text-align: right;
}

.countCartItem {
  display: flex;
  justify-content: space-between;
}

.countButton {
  background-color: transparent;
  border: solid 2px rgb(97, 96, 96);
  border-radius: 20px;
  text-align: center;
  outline: none;
}
